/bin/
/correlated/
/anti/
/noisynegative/
/kspaceoutput/
/normal/
/temp/
/covtype/
/adaptiveskyband/
/nba/
/Kadaptivegrid/
/optimalK/
/quadtree/
/kdtree/
/debug.txt
/kdtree_output/
/multidim/
/multidim10k/
